body {
  background-color: rgb(23, 35, 47);
  min-height: 100vw;
  width: 100%;
}

form {
  width: 60%;
  margin: 100px auto;
  background-color: rgb(98, 130, 162);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 50px;

  div {
    display: flex;
    gap: 10px;
    color: white;
    input {
      padding: 2px 5px;
      &:focus {
        outline: none;
      }
    }
  }
  button {
    all: unset;
    display: block;
    padding: 3px 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
